@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/static/raleway-regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

.container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: 5px solid rgb(208, 226, 48);
}

.page-header {
    width: auto;
    border: 1px solid rgb(134, 13, 248);
    padding: 40px 150px;
    background: url(../img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #ffffff;
}

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-family: raleway, Arial, sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

.logo:hover {
    color: #998675;
}

.logo:active {
    color: #ffffff;
}

.header-list ul {
    display: flex;
    justify-content: space-between;
}

.header-list a {
    text-decoration: none;
    color: #fff;
}

.header-menu-references {
    display: inline;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin: 0px 15px;
}

.header-menu-references:hover {
    color: #998675;
}

.header-menu-references:active {
    color: #ffffff;
}

.header-button-basket {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    outline: none;
}

.header-button-basket svg {
    fill: #fff;
}

.header-button-basket:hover svg {
    fill: #998675;
}

.header-button-basket:active svg {
    fill: #ffffff;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 5px;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
    /*   border: 1px solid green; */
    background-image: url('https://findicons.com/files/icons/2813/flat_jewels/512/search.png');
    /*   background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent; */
}

.search-icon-form__label:hover .search-icon-form__svg {
    fill: gold;
}

.search-icon-form__label:active .search-icon-form__svg {
    fill: green;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    position: absolute;
    top: 10px;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    /*   display: block; */
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
    fill: aqua;
}

.header-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 300px;
    min-height: 200px;
    flex-wrap: wrap;
}

.header-carousel-left {
    width: 40px;
}

.header-carousel-center {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
}

.design {
    font-family: Raleway, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    margin: 0px
}

.psd {
    font-family: Raleway, Arial, sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.header-carousel-txt {
    width: 500px;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.btn-link {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #736357;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;
    color: #fff;
    word-break: break-all;
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    margin-top: 52px;
}

.btn-link-txt {
    margin: 0 auto;
}

.btn-link:hover {
    background-color: #fff;
    color: #736357;
}

.btn-link:active {
    background-color: #736357;
    color: #fff;
}

.header-carousel-right {
    display: flex;
    width: 40px;
    flex-wrap: wrap;
}

.pagination {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 230px 0px 0px 0px;
}

.pagination-item {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 10px;
}

.pagination-item:hover {
    background-color: transparent;
    border: 2px solid gold;
    transform: scale(1.2);
    width: 15px;
    height: 15px;
}

.main-features {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.features {
    margin: 10px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: flex;
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features-icon {
    display: block;
    fill: #555555;
    width: 83px;
    height: 49px;
}

.features-title {
    width: 100%;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.features-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.idea {
    display: flex;
    flex-direction: column;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    align-items: center;
    margin: 0 auto;
}

.idea-title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.idea-txt {
    width: 1000px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    margin: 24px 0px 40px 0px;
}

.fone {
    width: 1250px;
    height: 500px;
    background-image: url(../img/browser_center_10768.png), url(../img/browser_left_10769.png), url(../img/browser_right_10770.png);
    background-repeat: no-repeat;
    background-size: 70%, 51%, 51%;
    background-position: center, left, right;
}

.Purchase-now {
    display: flex;
    justify-content: space-around;
    width: 1920px;
    height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    align-items: center;
}

.wordpress {}

.wordpress-title {
    margin: 0px 0px 0px 100px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    ;
}

.wordpress-waxom {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.wordpress-txt {
    margin: 0px 0px 0px 100px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.Purchase-btn {
    margin: 0px 100px 0px 0px;
    border-radius: 3px;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.Purchase-btn:hover {
    background-color: #7889;
}

.Purchase-btn:active {
    color: black;
}

.main-project-title {
    margin: 80px 0px 24px 0px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    width: 100%;
    text-align: center;
}

.main-project-title-txt {
    width: 750px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.main-project-list {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.main-project-li {
    width: 120px;
    border: 1px solid #ebebeb;
    background-color: rgba(17, 17, 17, 0.0);
    border-radius: 3px;
    color: #8c8c8c;
    margin: 0px auto;
    display: inline-block;
    padding: 5px 20px
}

.main-project-li:hover {
    background-color: #998675;
}

.main-project-li:active {
    color: #fff;
}

.card {
    width: 320px;
    border: 1px solid black;
    position: relative;
    margin: 30px;
}

.card-wrapper-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 375px;
}

/* Другой способ затемнения блока!!!*/

/*.darkness:hover {
    width: 370px;
    background:rgba(0, 0, 0, 0.4);
    opacity:0.4;
    }*/

.card:hover .card-btn-link {
    display: block;
}

.card:hover .card-btn-search {
    display: block;
}

.card:hover .card-btn-link:hover {
    background-color: #a0a97f;
}

.card:hover .card-btn-search:hover {
    background-color: #a0a97f;
}

.card:hover .card-photo {
    filter: brightness(80%);
}

.card:hover .card-wrapper {
    background-color: #362f2d;
}

.card:hover .card-wrapper:before {
    border-bottom: 10px solid #362f2d
}

.card-photo {
    display: block;
    width: 100%;
}

.card-wrapper {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
    padding: 0px 0px 0px 30px;
    box-sizing: border-box;
}

.card-wrapper:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.card-title {
    display: block;
    padding: 25px 0px 0px 0px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin: 0;
}

.card-txt {
    display: block;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    padding: 14px 0px 27px 0px;
    margin: 0;
}

.card-btn-link, .card-btn-search {
    margin: 0;
    padding: 0;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 34%
}

.card-btn-link {
    left: 65%;
    background-color: #fff;
}

.card-btn-search {
    right: 70%;
}

.form {
    width: 100%;
    align-items: center;
}

.btn-Load {
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    color: #ffffff;
}

.btn-Load:hover {
    background-color: #fff;
    color: #736357;
}

.btn-Load:active {
    color: green;
}

.video {
    position: relative;
}

.video-content {
    width: 1920px;
    height: 705px;
    object-fit: cover;
    margin: 80px 0px;
}

.video-screen-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 34%;
    left: 25%;
}

.video-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.video-btn:hover .video-play-btn-icon {
    fill: #000000;
}

.video-btn:active .video-play-btn-icon {
    fill: bisque;
}

.video-play-btn-icon {
    margin: auto;
    fill: #fff;
}

.video-title {
    width: 100%;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.video-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.time {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.mobile-devices {
    display: flex;
    margin: 63px 388px 0px 423px;
}

.mobile-photo {
    flex-wrap: wrap;
}

.mobile-devices-wrapper {}

.mobile-devices-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    font-family: Raleway, Arial, sans-serif;
}

.mobile-devices-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.mobile-devices-list {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    list-style: none;
}

.mobile-devices-list::before {
    content: url(../img/01_10972.png);
    padding-right: 10px;
}

.statistics {
    display: flex;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 60px 0px;
    justify-content: center;
}

.statistics-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.statistics-icon {
    width: 55px;
    height: 44px;
    background-color: transparent;
    fill: #c7b299;
}

.statistics-result {
    margin: 30px 0px 20px 0px;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #c7b299;
}

.statistics-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    margin: 20px 0px;
}

.statistics-wrapper::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.statistics-wrapper:hover .statistics-icon {
    fill: #fff;
}

.statistics-wrapper:hover .statistics-txt {
    color: #fff;
}

.statistics-wrapper:hover .statistics-result {
    color: #fff;
}

.statistics-wrapper:hover:after {
    background-color: #fff;
}