/* 5 мая 2021 г */

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/static/raleway-regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 5px solid rgb(208, 226, 48);
    box-sizing: border-box;
}

.page-header {
    width: auto;
    border: 1px solid rgb(134, 13, 248);
    padding: 40px 150px;
    background: url(../img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #ffffff;
}

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-family: raleway, Arial, sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

.logo:hover {
    color: #998675;
}

.logo:active {
    color: #ffffff;
}

.header-list ul {
    display: flex;
    justify-content: space-between;
}

.header-list a {
    text-decoration: none;
    color: #fff;
}

.header-menu-references {
    display: inline;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin: 0px 15px;
}

.header-menu-references:hover {
    color: #998675;
}

.header-menu-references:active {
    color: #ffffff;
}

.header-button-basket {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    outline: none;
}

.header-button-basket svg {
    fill: #fff;
}

.header-button-basket:hover svg {
    fill: #998675;
}

.header-button-basket:active svg {
    fill: #ffffff;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 5px;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
    /*   border: 1px solid green; */
    background-image: url('https://findicons.com/files/icons/2813/flat_jewels/512/search.png');
    /*   background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent; */
}

.search-icon-form__label:hover .search-icon-form__svg {
    fill: gold;
}

.search-icon-form__label:active .search-icon-form__svg {
    fill: green;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    position: absolute;
    top: 10px;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    /*   display: block; */
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
    fill: aqua;
}

.header-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 300px;
    min-height: 200px;
    flex-wrap: wrap;
}

.header-carousel-left {
    width: 40px;
}

.header-carousel-center {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
}

.design {
    font-family: Raleway, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    margin: 0px
}

.psd {
    font-family: Raleway, Arial, sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.header-carousel-txt {
    width: 500px;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.btn-link {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #736357;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;
    color: #fff;
    word-break: break-all;
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    margin-top: 52px;
}

.btn-link-txt {
    margin: 0 auto;
}

.btn-link:hover {
    background-color: #fff;
    color: #736357;
}

.btn-link:active {
    background-color: #736357;
    color: #fff;
}

.header-carousel-right {
    display: flex;
    width: 40px;
    flex-wrap: wrap;
}

.pagination {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 230px 0px 0px 0px;
}

.pagination-item {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 10px;
}

.pagination-item:hover {
    background-color: transparent;
    border: 2px solid gold;
    transform: scale(1.2);
    width: 15px;
    height: 15px;
}

.main-features {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.features {
    margin: 10px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: flex;
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features-icon {
    display: block;
    fill: #555555;
    width: 83px;
    height: 49px;
}

.features-title {
    width: 100%;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.features-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.idea {
    display: flex;
    flex-direction: column;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    align-items: center;
    margin: 0 auto;
}

.idea-title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.idea-txt {
    width: 1000px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    margin: 24px 0px 40px 0px;
}

.fone {
    width: 100%;
    min-height: 500px;
    background-image: url(../img/browser_center_10768.png), url(../img/browser_left_10769.png), url(../img/browser_right_10770.png);
    background-repeat: no-repeat;
    background-size: 70%, 40%, 40%;
    background-position: center, bottom left, bottom right;
}

.Purchase-now {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    align-items: center;
}

.wordpress-title {
    margin: 0px 0px 0px 100px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    ;
}

.wordpress-waxom {
    font-family: Raleway, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.wordpress-txt {
    margin: 0px 0px 0px 100px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.Purchase-btn {
    margin: 0px 100px 0px 0px;
    border-radius: 3px;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.Purchase-btn:hover {
    background-color: #7889;
}

.Purchase-btn:active {
    color: black;
}

.main-project-title {
    margin: 80px 0px 24px 0px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    width: 100%;
    text-align: center;
}

.main-project-title-txt {
    width: 750px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.main-project-list {
    text-align: center;
}

.main-project-li {
    border-radius: 3px;
    margin: 0px auto;
    width: 90px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    background-color: rgba(17, 17, 17, 0.0);
    display: inline-block;
    list-style-type: none;
}

.main-project-btn {
    border-radius: 3px;
    border: 1px solid #8c8c8c;
    background-color: rgba(17, 17, 17, 0.0);
    color: #8c8c8c;
    width: 90px;
    height: 32px;
}

.main-project-btn:hover {
    background-color: #998675;
}

.main-project-btn:active {
    color: #fff;
}

.card {
    width: 320px;
    border: 1px solid black;
    position: relative;
    margin: 15px;
}

.card-wrapper-top {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 360px;
}

/* Другой способ затемнения блока!!!*/

/*.darkness:hover {
    width: 370px;
    background:rgba(0, 0, 0, 0.4);
    opacity:0.4;
    }*/

.card:hover .card-btn-link {
    display: block;
}

.card:hover .card-btn-search {
    display: block;
}

.card:hover .card-btn-link:hover {
    background-color: #a0a97f;
}

.card:hover .card-btn-search:hover {
    background-color: #a0a97f;
}

.card:hover .card-photo {
    filter: brightness(80%);
}

.card:hover .card-wrapper {
    background-color: #362f2d;
}

.card:hover .card-wrapper:before {
    border-bottom: 10px solid #362f2d
}

.card-photo {
    display: block;
    width: 100%;
}

.card-wrapper {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
    padding: 0px 0px 0px 30px;
    box-sizing: border-box;
}

.card-wrapper:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    border-bottom: 10px solid #fbfaf8;
    border: 10px solid transparent;
}

.card-title {
    display: block;
    padding: 25px 0px 0px 0px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin: 0;
}

.card-txt {
    display: block;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    padding: 14px 0px 27px 0px;
    margin: 0;
}

.card-btn-link, .card-btn-search {
    margin: 0;
    padding: 0;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 34%
}

.card-btn-link {
    left: 65%;
    background-color: #fff;
}

.card-btn-search {
    right: 70%;
}

.form {
    width: 100%;
    align-items: center;
}

.btn-Load {
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    color: #ffffff;
}

.btn-Load:hover {
    background-color: #fff;
    color: #736357;
}

.btn-Load:active {
    color: green;
}

.video {
    position: relative;
}

.video-content {
    width: 100%;
    min-height: 705px;
    object-fit: cover;
    margin: 80px 0px;
}

.video-screen-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 34%;
    left: 25%;
}

.video-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.video-btn:hover .video-play-btn-icon {
    fill: #000000;
}

.video-btn:active .video-play-btn-icon {
    fill: bisque;
}

.video-play-btn-icon {
    margin: auto;
    fill: #fff;
}

.video-title {
    width: 100%;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.video-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.time {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.mobile-devices {
    display: flex;
    margin: 63px 388px 0px 423px;
}

.mobile-photo {
    flex-wrap: wrap;
}

.mobile-devices-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    font-family: Raleway, Arial, sans-serif;
}

.mobile-devices-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.mobile-devices-list {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    list-style: none;
}

.mobile-devices-list::before {
    content: url(../img/01_10972.png);
    padding-right: 10px;
}

.statistics {
    display: flex;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 60px 0px;
    justify-content: center;
}

.statistics-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.statistics-icon {
    width: 55px;
    height: 44px;
    background-color: transparent;
    fill: #c7b299;
}

.statistics-result {
    margin: 30px 0px 20px 0px;
    flex-wrap: wrap;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #c7b299;
}

.statistics-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    margin: 20px 0px;
}

.statistics-wrapper::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.statistics-wrapper:hover .statistics-icon {
    fill: #fff;
}

.statistics-wrapper:hover .statistics-txt {
    color: #fff;
}

.statistics-wrapper:hover .statistics-result {
    color: #fff;
}

.statistics-wrapper:hover:after {
    background-color: #fff;
}

.posts-title {
    text-align: center;
    display: block;
    padding: 35px 0px 15px 0px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.posts-txt {
    padding: 0px 580px;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.posts-cfrd-wrapper {
    display: flex;
    justify-content: center;
}

.posts-card {
    width: 370px;
    position: relative;
    padding: 0px 15px;
}

.posts-card:hover {
    filter: brightness(80%);
}

.posts-card-img {
    width: 370px;
}

.posts-card-date {
    position: absolute;
    left: 19px;
    top: 10px;
    text-align: center;
}

.posts-card-number {
    display: block;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 50px;
    height: auto;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    padding: 5px 0;
}

.posts-card-month {
    display: block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
}

.posts-pagination {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 50%;
    width: 100%;
}

.posts-pagination-item {
    border-radius: 50%;
    margin: 5px;
    background-color: #ffffff;
    opacity: 0.3;
    width: 11px;
    height: 11px;
}

.posts-pagination-item:hover {
    border: 1px solid#c7b299;
    width: 11px;
    height: 11px;
    background-color: transparent;
}

.posts-card-title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.posts-card-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
}

.posts-card-link {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    position: relative;
}

.posts-card-link:before {
    content: "";
    border: 5px solid transparent;
    border-left: 10px solid #c7b299;
    position: absolute;
    left: 81px;
    top: 5px;
}

.posts-btn {
    text-align: center;
    padding: 40px 0px;
}

.brand {
    width: 100%;
    background-image: url(../img/bg_photo_11122.png);
    display: flex;
    justify-content: center;
    padding: 140px 0px;
}

.brand-logo {
    margin: 0px 45px;
}

.brand-logo:hover {
    background: rgba(0, 0, 0, 0.3);
}

.partners {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    background-color: #191919;
}

.partners-card {
    padding: 80px 10px 80px 10px;
    width: 270px;
    /* border: 1px solid rgb(233, 23, 23); */
}

.partners-logo-svg {
    width: 64px;
    height: 56px;
    fill: #ffffff;
}

.partners-logo-txt {
    font-family: Raleway, Arial, sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.partners-card-waxom {
    text-decoration: none;
}

.partners-card-text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.partners-card-link {
    position: relative;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
}

.partners-card-link::before {
    content: "";
    border: 5px solid transparent;
    border-left: 10px solid #d1d1d1;
    position: absolute;
    left: 81px;
    top: 5px;
}

.partners-recent-posts-title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

time {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.partners-card-txt {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-bottom: 1px solid #555555;
    padding-bottom: 15px;
    text-decoration: none;
}

.data {
    color: #ffffff;
}

.partners-card-txt-diam {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    border-bottom: 1px solid #555555;
    padding-bottom: 15px;
}

.waxom {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #00bff3;
}

.partners-card-text_our {
    display: block;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-bottom: 1px solid #555555;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
}

.partners-card-time-our {
    display: block;
    margin-top: 10px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.Our {
    color: #959595;
}

.Photography {
    position: relative;
}

.Photography:hover {
    filter: brightness(70%);
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #111111;
}

.footer-meny {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-link {
    display: inline-block;
    /* border: 1px solid #000; */
    border-right: 1px solid #252525;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-waxom {
    color: #959595;
}

.footer-faq {
    color: #c7b299;
}