@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/static/raleway-regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

.container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: 5px solid rgb(208, 226, 48);
}

.page-header {
    width: auto;
    border: 1px solid rgb(134, 13, 248);
    padding: 40px 150px;
    background: url(../img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-menu {
    width: auto;
    margin: 0 auto;
    border: 1px solid rgb(25, 231, 25);
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #ffffff;
}

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-family: raleway Arial, sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

.logo:hover {
    color: #998675;
}

.logo:active {
    color: #ffffff;
}

/*.header-list {*/

/*width: 850px;*/

}

.header-list ul {
    display: flex;
    justify-content: space-between;
}

.header-list a {
    text-decoration: none;
    color: #fff;
}

.header-menu-references {
    display: inline;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin: 0px 15px;
}

.header-menu-references:hover {
    color: #998675;
}

.header-menu-references:active {
    color: #ffffff;
}

.header-button-basket {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    outline: none;
}

.header-button-basket svg {
    fill: #fff;
}

.header-button-basket:hover svg {
    fill: #998675;
}

.header-button-basket:active svg {
    fill: #ffffff;
}

.search-icon-form {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 5px;
}

.search-icon-form__label {
    display: block;
    width: 100%;
    height: 100%;
    /*   border: 1px solid green; */
    background-image: url('https://findicons.com/files/icons/2813/flat_jewels/512/search.png');
    /*   background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent; */
}

.search-icon-form__label:hover .search-icon-form__svg {
    fill: gold;
}

.search-icon-form__label:active .search-icon-form__svg {
    fill: green;
}

.search-icon-form__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    position: absolute;
    top: 10px;
}

.search-icon-form__input {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -119px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.search-icon-form__input:focus {
    /*   display: block; */
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form__input:focus~.search-icon-form__label>.search-icon-form__svg {
    fill: aqua;
}

.header-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    border: 1px solid rgb(228, 15, 15);
    margin-top: 300px;
    min-height: 200px;
    flex-wrap: wrap;
}

.header-carousel-left {
    border: 1px solid #fbdb65;
    width: 40px;
}

.header-carousel-center {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
}

.design {
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    margin: 0px
}

.psd {
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.header-carousel-txt {
    width: 500px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.btn-link {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #736357;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;
    color: #fff;
    word-break: break-all;
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    margin-top: 52px;
}

.btn-link-txt {
    margin: 0 auto;
}

.btn-link:hover {
    background-color: #fff;
    color: #736357;
}

.btn-link:active {
    background-color: #736357;
    color: #fff;
}

.header-carousel-right {
    display: flex;
    border: 1px solid #fbdb65;
    width: 40px;
    flex-wrap: wrap;
}

.pagination {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 230px 0px 0px 0px;
}

.pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 10px;
}

.pagination-item:hover {
    background-color: transparent;
    border: 2px solid gold;
    transform: scale(1.2);
    width: 15px;
    height: 15px;
}

.main-features {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.features {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 10px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    border: 1px solid#555555;
    flex-wrap: wrap;
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #555555;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features-icon {
    display: block;
    fill: #555555;
    width: 83px;
    height: 49px;
    border: 1px solid #000;
}

.features-title {
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.features-txt {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.idea {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.idea-txt {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.fone {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    border: solid #000;
    background-size: cover;
    background-image: url(img/browser_left_10769.jpg), url(img/browser_center_10768.png);
}